body {
    margin: 0;
    padding: 0;
    background-color: #c68c53a8;
    position: relative;
    font-family: 'Architects Daughter', cursive;
}
.navbar {
    background-color: rgb(0 0 0 / 16%);
    display: flex;
    padding: 10px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}
.navbar a {
    color: #fff;
    text-decoration: none
}
.navbar:first-child {
    font-size: 24px;
}
.container-notes{
    display: grid;
    grid-template-columns: 330px calc(100% - 330px);
    gap: 0px 0px; 
    padding-top: 30px;
}
.templateNote{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#list-notes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.note{
    width: 300px;
    height: 300px;
    margin: 15px;
    transition: 1s;
    cursor: pointer;
    padding: 15px;
    position: relative;
    background-color: #c2ff3d;
    overflow-wrap: break-word;
    box-shadow: 0px 10px 24px 0px rgb(0 0 0 / 75%);
}
.note i {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}
.note textarea {
    background-color: transparent;
    border: none;
    resize: none;
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 16px;
    font-family: 'Architects Daughter', cursive;
}

@media only screen and (max-width: 757px) {
    .container-notes{
        grid-template-columns: 1fr;
    }
  }